*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: thistle;
}

.container{
    margin: 5% 0 0 10%;
    width: 450px;
    height: 450px;
   
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    border-radius: 100%;
    /* overflow: hidden; */
    padding-left: 40px;

}

.row1,.row2,.row3{
    display: flex;
    width: 450px;
    height: auto;
     
    align-content: center;
    align-items: center;
   
}

.box{
   border: lawngreen solid 1px;
    width: 100px;
    height: 100px;
    margin-left:15%;
    display: flex;
    border-radius: 100%;
    overflow: hidden;
    
   
}

.visib{
    visibility: collapse;
    
}
.left{
   
    width: 100px;
    height: 100px;
    margin-right: 30px;
     display: flex;
    border-radius: 100%;
}

img{
    background-size:contain;
    width: inherit;
    height: inherit;
    
    border-radius: 100%;
}

.right{
    
    width: 100px;
    height: 100px;
    margin-left: 30px;
     display: flex;
    border-radius: 100%;
}


.middle{
     border: maroon solid 2px;
    display: flex;
    width: 150px;
    height: 150px;
    margin: 10px 0;
    border-radius: 100%;
    overflow: hidden;
}

/* .middle:hover::after .box{
    background-color: yellowgreen;
    visibility: visible;
    transition: 1s;
} */


